/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            label = "colemak";
            bindings = <
&kp GRAVE  &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                               &kp N6     &kp N7     &kp N8         &kp N9         &kp N0     &kp BSLH
&kp ESC    &kp Q   &kp W     &kp F     &kp P      &kp G                                &kp J      &kp L      &kp U          &kp Y          &kp SEMI   &kp BACKSPACE
&kp TAB    &kp A   &kp R     &kp S     &kp T      &kp D                                &kp H      &kp N      &kp E          &kp I          &kp O      &kp SQT
&mo 4      &kp Z   &kp X     &kp C     &kp V      &kp B      &kp C_MUTE    &none       &kp K      &kp M      &kp COMMA      &kp DOT        &kp SLASH  &kp RSHIFT
                   &kp LGUI  &kp LALT  &kp LCTRL  &kp SPACE  &kp ENTER     &kp LSHIFT  &kp SPACE  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_GUI
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        dvorak_layout {
            label = "dvorak";
            bindings = <
&kp GRAVE       &kp N1            &kp N2     &kp N3    &kp N4     &kp N5                          &kp N6     &kp N7    &kp N8         &kp N9    &kp N0  &kp ESC
&kp TAB         &kp SINGLE_QUOTE  &kp COMMA  &kp DOT   &kp P      &kp Y                           &kp F      &kp G     &kp C          &kp R     &kp L   &kp BACKSPACE
&kp LEFT_SHIFT  &kp A             &kp O      &kp E     &kp U      &kp I                           &kp D      &kp H     &kp T          &kp N     &kp S   &kp RSHIFT
&kp LCTRL       &kp SEMI          &kp Q      &kp J     &kp K      &kp X      &kp C_MUTE    &none  &kp B      &kp M     &kp W          &kp V     &kp Z   &kp RCTRL
                                  &kp LGUI   &kp LALT  &kp LCTRL  &kp SPACE  &kp ENTER     &mo 4  &kp SPACE  &kp RGUI  &kp RIGHT_ALT  &kp FSLH
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        qwerty_layer {
            label = "qwerty";
            bindings = <
&kp GRAVE  &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                          &kp N6     &kp N7     &kp N8         &kp N9         &kp N0    &kp BACKSLASH
&kp ESC    &kp Q   &kp W     &kp E     &kp R      &kp T                           &kp Y      &kp U      &kp I          &kp O          &kp P     &kp BACKSPACE
&kp TAB    &kp A   &kp S     &kp D     &kp F      &kp G                           &kp H      &kp J      &kp K          &kp L          &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X     &kp C     &kp V      &kp B      &kp C_MUTE    &none  &kp N      &kp M      &kp COMMA      &kp DOT        &kp FSLH  &kp RIGHT_SHIFT
                   &kp LGUI  &kp LALT  &kp LCTRL  &kp SPACE  &kp ENTER     &mo 4  &kp SPACE  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_GUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mac_layer {
            bindings = <
&trans  &trans  &trans     &trans  &trans        &trans                    &trans  &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans     &trans  &trans        &trans                    &trans  &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans     &trans  &trans        &trans                    &trans  &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans     &trans  &trans        &trans  &trans    &trans  &trans  &trans    &trans  &trans     &trans  &trans
                &kp RCTRL  &trans  &kp LEFT_GUI  &trans  &trans    &trans  &trans  &kp RGUI  &trans  &kp RCTRL
            >;

            label = "macos";
            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        raise_layer {
            label = "raise";
            bindings = <
&to 0   &kp F1  &kp F2        &kp F3        &kp F4        &kp F5                              &kp F6          &kp F7           &kp F8            &kp F9             &kp F10    &kp F11
&to 2   &trans  &kp N7        &kp NUMBER_8  &kp N9        &kp LS(LG(F5))                      &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PLUS   &kp EQUAL
&to 3   &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp LS(LG(F6))                      &kp LEFT        &kp DOWN_ARROW   &kp UP_ARROW      &kp RIGHT          &kp MINUS  &kp UNDER
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LC(B)       &trans      &trans  &trans          &kp C_PREV       &kp C_PAUSE       &kp C_NEXT         &kp HOME   &kp END
                &trans        &trans        &trans        &kp UP          &kp DOWN    &trans  &trans          &trans           &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
